# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
venv/
.env
*.env

# Package manager files
*.egg-info/
*.dist-info/
pip-log.txt
pip-delete-this-directory.txt

# Logs and databases
*.log
*.sqlite3
instance/
db.sqlite3

# System files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Tesseract cache
tessdata/



# Compiled C extensions
*.so

# Flask cache and session
flask_session/
